/* general body style */
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh;
    background-color: rgb(116, 195, 240);
}

/* game board */
#board {
    background-color: white;
    width: 90vmin;
    height: 90vmin;
    display: grid;
    grid-template-columns: repeat(31, 1fr);
    grid-template-rows: repeat(31, 1fr);
}

/* snake */
.snake {
    background-color: rgb(160, 114, 202);
    border: .25vh solid rgb(91, 32, 146);
    border-radius: 100%;
}

/* food */
.bubble {
    background-color: red;
    border: .25vmin solid rgb(255, 255, 255);
    border-radius: 100%;
}

